* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: #343434;
  text-decoration: none;
}

body {
  background-color: #f1f3f8;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 1.3rem;
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
}

button,
input {
  background-color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
}

:root {
  --bgy: 2px solid #4c3d3d44;
  --tdc: #ebeff1;
  --orn: #fe9c0a;
  --color-test: #e54c00;
  --main: #1a6eff;
}

h1 {
  margin-top: 3rem;
  font-size: 3rem;
}
main {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  width: 5rem;
  width: 6rem;
  font-size: 2rem;
}
button {
  cursor: pointer;
  cursor: pointer;
  width: 18rem;
  position: relative;
  z-index: 1;
  transition: all 0.2s;
}
.minibox {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  background-color: #0064df;
}
button:hover {
  color: #fff;
}
button:hover .minibox {
  animation: addwidth 0.25s ease-in-out forwards;
}
@keyframes addwidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
footer {
  width: 70rem;
  text-align: left;
  margin-top: 5rem;
}
p {
  margin-top: 2rem;
}

@media only screen and (max-width: 1180px) {
  footer {
    width: 45rem;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  button {
    width: 10rem;
  }

  footer {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media only screen and (max-width: 514px) {
  main {
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  label {
    width: 70%;
    text-align: left;
  }
  input {
    width: 20%;
  }
  button {
    width: 100%;
  }
}
