* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

body {
  background-image: url(../Assets/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Buy-Taket {
  width: 67rem;
  background-color: #ffffff40;
  height: 31rem;
  padding: 4rem;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  height: 9rem;
  row-gap: 2rem;
}

input {
  height: 3.5rem;
  text-align: left;
  padding: 0 1.5rem;
}

.selects {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

#countrys {
  width: 24.4rem;
  height: 3.2rem;
  font-size: 1.2rem;
  padding: 0 1.5rem;
}

#option {
  text-align: left;
}

#citys {
  width: 24.4rem;
  height: 3.2rem;
  font-size: 1.2rem;
  padding: 0 1rem;
}

option,
.TAL {
  text-align: left;
}

button {
  display: inline-block;
  width: 12rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 2rem;
  border: none;
  color: #fff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0abead;
  text-decoration: none;
  margin: 0.5rem auto;
  padding: 0 1.5rem;
  box-shadow: 0 4px 8px rgba(11, 190, 173, 0.3);
  position: relative;
  overflow: hidden;
}

button:hover {
  box-shadow: 0 8px 8px rgba(11, 190, 173, 0.3);
  transform: translateY(-0.3rem);
}

@media only screen and (max-width: 994px) {
  .Buy-Taket {
    width: 94vw;
    height: auto;
    padding: 2rem;
  }

  .inputs {
    column-gap: 5%;
  }

  .selects {
    gap: 5%;
  }

  #countrys,
  #citys {
    flex: 1 1 50%;
  }
}

@media only screen and (max-width: 576px) {
  .inputs {
    display: flex;
    flex-direction: column;
  }

  .selects {
    flex-direction: column;
    gap: 1rem;
    margin-top: 9rem;
  }

  #countrys,
  #citys,
  input {
    padding: 0.8rem 1rem;
    width: 100%;
  }

  #citys{
    margin-top: .7rem;
  }
}
